<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Soccer Tracker</title>
</head>


<body>
 <nav>
   <% if (user) { %> 
    <a href="/teams/new">Add Team</a>
    <a href="/logout">log out</a>
    <% } else { %>
        <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    <% } %>

    <a href="/teams">All TEAMS</a>
 </nav>   
<main>
 
    <h1>

    </h1>
  