<%- include('../partials/header') %>

<% if (user) { %>
<form id="new-form" action="/teams"  method="POST">
<label>Club</label>
<input type="text" name="club">
<label>Country</label>
<input type="text" name="country">
<label>League</label>
<input type="text" name="league">
<label>UCL</label>
<input type="checkbox" name="ucl" checked>
<input type="submit" value="Add Team">
</form>
<% } else { %>
    <p>Please Login to Add a team</p>
    <% } %>

    <%- include('../partials/footer') %>
