* {
  box-sizing: border-box;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  height: 85px;
  display: grid;
  grid-template-rows: max-content;
  grid-template-areas: "nav" "main";
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  padding: 10vmin;
  background-color: lightblue;
  align-items: center;
}

body > nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
  background-color: lightblue;
  padding: 0 10px 0 40px;
}
footer {
  background-color: lightblue;
}

#show-doc {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10vmin;
  grid-gap: 2rem;
}
 #add-players {
  font-size: 15px;
 }

 nav > a {
  margin: 25px
 }
 .login img {
  height: 25px;
 }




